#cardContent{
  text-align: center;
}
ion-input{
  font-size: 0.8em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ion-label{
  font-weight: bold;
}
.labelNombre{
  color: red !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 
}

.labelLenguaje{
  color: green;
}